.container {
    background: transparent;
}

tr {
    text-align: left;
}

.cart-name {
    width: 75%;
}

.cart-price {
    text-align: right;
}


.row {
    background: lightgray;
    border-radius:8px;
}
