.food-image {
    width: 75%;
}

.food-menu { 
    width: 350px;
    display: flex;
}

.container2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.food-item {
    border: 1px solid lightgray;
    margin: 5px;
    border-radius: 5px;
}

/* .foodMenuTabs {
    align-items: center;
} */

.item-name {
    background: grey;
}

.testdiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* * {
    background: brown;
}

.navbar  {
    background: black;
}

.navbar-inverse {
    background: black;
}
.container {
    background: black;
} */