.food-image {
    width: 75%;
}

.food-menu { 
    width: 350px;
    display: flex;
}

.container2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.food-item {
    border: 1px solid lightgray;
    margin: 5px;
    border-radius: 5px;
}